<div class="Wraper">
  <div class="navbar rounded-lg navbar-floating  "*ngIf="authService.userData as user">
    <div class="navbar-start">
      <div class="avatar avatar-ring avatar-md">
        <div class="dropdown-container">
          <div class="dropdown">
            <label
              class="btn btn-ghost flex cursor-pointer px-0"
              tabindex="0"
            >
              <img
                src="https://i.pravatar.cc/150?u=a042581f4e29026024d"
                alt="avatar"
              />
            </label>
            <div class="dropdown-menu dropdown-menu-bottom-right lg:hidden">
              
              <a class="dropdown-item text-sm" href="/about" translate>navbar.about</a>
              <a class="dropdown-item text-sm" href="/contact" translate>navbar.contact</a>
              <a class="dropdown-item text-sm" href="/events" translate>navbar.events</a>
              <a class="dropdown-item text-sm" href="/ministries" translate>navbar.ministries</a>
              <a class="dropdown-item text-sm" href="/sermons" translate>navbar.sermons</a>
            </div>
          </div>
        </div>
      </div>
      <a class="navbar-item" href="/" translate>nabar.logo</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <a class="navbar-item" href="/" translate>navbar.home</a>
      <a class="navbar-item" href="/about" translate>navbar.about</a>
      <a class="navbar-item" href="/contact" translate>navbar.contact</a>
      <a class="navbar-item" href="/events" translate>navbar.events</a>
      <a class="navbar-item" href="/ministries" translate>navbar.ministries</a>
      <a class="navbar-item" href="/sermons" translate>navbar.sermons</a>
    </div>
    

    <div class="navbar-end">
      <ng-container *ngIf="loggedIn; else loginButtonTemplate">
        <!-- <label class="mr-10">
          <input
            class="toggle-checkbox"
            type="checkbox"
            [checked]="!isLightTheme"
            (change)="onThemeSwitchChange()"
          />
          <div class="toggle-slot">
            <div class="sun-icon-wrapper">
              <div
                class="iconify sun-icon"
                data-icon="feather-sun"
                data-inline="false"
              ></div>
            </div>
            <div class="toggle-button"></div>
            <div class="moon-icon-wrapper">
              <div
                class="iconify moon-icon"
                data-icon="feather-moon"
                data-inline="false"
              ></div>
            </div>
          </div>
        </label> -->

        <div class="avatar avatar-ring avatar-md">
          <div class="dropdown-container">
            <div class="dropdown">
              <label
                class="btn btn-ghost flex cursor-pointer px-0"
                tabindex="0"
              >
                <img
                  src={{user.photoURL}}
                  alt="avatar"
                />
              </label>
              <div class="dropdown-menu dropdown-menu-bottom-left">
                <a class="dropdown-item text-sm" href="/profile" translate>navbar.profile</a>
                <a class="dropdown-item text-sm" href="/settings" translate
                  >navbar.accountsettings</a
                >
                <a class="dropdown-item text-sm" (click)="authService.SignOut()" translate
                  >navbar.logout</a
                >
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #loginButtonTemplate>
        <div class="flex items-center justify-center">
          <button
            class="text-white py-2 px-4 uppercase rounded bg-indigo-500 hover:bg-indigo-600 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
            value="Log in"
            translate
            (click)="redirectToLoginPage()"
          >
            navbar.login
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
